In [603]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression, LogisticRegression, Ridge, RidgeCV, Lasso, \
LassoCV, ElasticNet, ElasticNetCV
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_squared_error, r2_score, accuracy_score, silhouette_score
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.tree import DecisionTreeRegressor, DecisionTreeClassifier
from sklearn.ensemble import BaggingRegressor, RandomForestRegressor, ExtraTreesRegressor, ExtraTreesClassifier, RandomForestClassifier, BaggingClassifier
from sklearn.neighbors import KNeighborsRegressor, KNeighborsClassifier
from sklearn.svm import SVR, SVC
from sklearn.decomposition import PCA
from sklearn.naive_bayes import MultinomialNB, BernoulliNB

from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.datasets import make_blobs
from sklearn.metrics import silhouette_score

In [604]:
twenty_stats = pd.read_csv('./datasets/twenty_STATS.csv')
nineteen_stats = pd.read_csv('./datasets/nineteen_STATS.csv')
eighteen_stats =  pd.read_csv('./datasets/eighteen_STATS.csv')
seventeen_stats = pd.read_csv('./datasets/seventeen_STATS.csv')
sixteen_stats = pd.read_csv('./datasets/sixteen_STATS.csv')
fifteen_stats = pd.read_csv('./datasets/fifteen_STATS.csv')
fourteen_stats = pd.read_csv('./datasets/fourteen_STATS.csv')
thirteen_stats = pd.read_csv('./datasets/thirteen_STATS.csv')
twelve_stats = pd.read_csv('./datasets/twelve_STATS.csv')
eleven_stats = pd.read_csv('./datasets/eleven_STATS.csv')


eleven_salary = pd.read_csv('./datasets/eleven_salary.csv')
twelve_salary = pd.read_csv('./datasets/twelve_salary.csv')
thirtheen_salary = pd.read_csv('./datasets/thirtheen_salary.csv')
fourteen_salary = pd.read_csv('./datasets/fourteen_salary.csv')
fifteen_salary = pd.read_csv('./datasets/fifteen_salary.csv')
sixteen_salary = pd.read_csv('./datasets/sixteen_salary.csv')
seventeen_salary = pd.read_csv('./datasets/seventeen_salary.csv')
eighteen_salary = pd.read_csv('./datasets/eighteen_salary.csv')
twenty_salary = pd.read_csv('./datasets/twenty_salary_cond.csv')


twenty_stats_and_sal = pd.read_csv('./datasets/twenty_stats_and_sal.csv')
sixteen_to_twenty_with_sal = pd.read_csv('./datasets/sixteen_to_twenty_with_sal.csv')
seventeen_to_twenty_with_sal = pd.read_csv('./datasets/seventeen_to_twenty_with_sal.csv')

In [605]:
logreg = LogisticRegression(max_iter=10000)
knnc = KNeighborsClassifier()
dt = DecisionTreeClassifier()
bc = BaggingClassifier()
rf = RandomForestClassifier()
svc = SVC()
et = ExtraTreesClassifier()
nb = MultinomialNB()

# First Classification Model(s)

In [606]:
sixteen_to_twenty_with_sal.corr()['2019-20'][0:15].sort_values(ascending=False)

FG      0.767685
FGA     0.747993
MP      0.738304
GS      0.697379
2PA     0.684865
2P      0.676427
3PA     0.428419
3P      0.423755
G       0.323772
3P%     0.157425
2P%     0.134902
eFG%    0.133224
FG%     0.128468
Rk     -0.018450
Age    -0.048687
Name: 2019-20, dtype: float64

In [607]:
u = sixteen_to_twenty_with_sal.describe(percentiles=[0.2,0.4,0.6,0.8])
#Want 5 different classifications, will assign them based on the quartiles

In [608]:
u['2019-20'].loc['80%']

23140395.000000007

In [609]:
sixteen_to_twenty_with_sal['sal_classified'] = ""

In [610]:
sixteen_to_twenty_with_sal

,Player,Rk,Season,Pos,Age,Tm,G,GS,MP,FG,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,2019-20,sal_classified
0,Aaron Gordon,178.0,19-20,PF,22.0,ORL,71.2,61.2,30.36,5.26,...,5.22,6.92,2.64,0.82,0.66,1.48,2.06,13.98,19863636,
1,Al Horford,228.0,19-20,C,31.0,PHI,71.4,70.2,31.04,5.54,...,5.42,7.00,4.22,0.78,1.22,1.50,1.98,13.52,28000000,
2,Al-Farouq Aminu,9.0,19-20,PF,27.0,ORL,62.2,51.4,27.40,2.90,...,5.36,6.68,1.40,0.96,0.54,1.18,1.82,8.38,9258000,
3,Alec Burks,80.0,19-20,SG,26.0,TOT,53.4,9.4,21.16,3.48,...,2.98,3.48,1.72,0.62,0.18,1.14,1.60,10.30,2320044,
4,Alex Len,293.0,19-20,C,24.0,TOT,71.2,27.2,20.30,3.38,...,4.48,6.60,1.00,0.44,0.96,1.32,2.64,8.92,4160000,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,Wayne Ellington,145.0,19-20,SG,30.0,NYK,60.8,19.0,22.40,3.10,...,1.96,2.20,1.16,0.66,0.10,0.62,1.24,8.96,7804878,
208,Wesley Matthews,320.0,19-20,SG,31.0,MIL,70.0,69.6,31.32,3.96,...,2.56,2.94,2.24,0.94,0.20,1.12,2.10,11.66,2564753,
209,Will Barton,29.0,19-20,SF,27.0,DEN,64.8,31.2,30.18,5.16,...,4.32,5.20,3.32,0.84,0.52,1.62,1.94,14.08,12960000,
210,Willie Cauley-Stein,94.0,19-20,C,24.0,TOT,69.8,47.6,23.18,3.98,...,4.46,6.20,1.56,0.92,0.84,0.96,2.34,9.40,2177483,
211,Zach LaVine,286.0,19-20,SG,22.0,CHI,55.2,45.2,32.36,7.06,...,3.42,3.92,3.56,1.04,0.30,2.46,2.26,19.76,19500000,

In [611]:
sixteen_to_twenty_with_sal['2019-20'].loc[207]

7804878

In [612]:
for index, i in enumerate(sixteen_to_twenty_with_sal['2019-20']):
    if i < 2564753:
        sixteen_to_twenty_with_sal.loc[index, 'sal_classified'] = 1
    elif i < 8000000 and i >= 2564753:
           sixteen_to_twenty_with_sal.loc[index, 'sal_classified'] = 2
    elif i < 13155269 and i >= 8000000:
           sixteen_to_twenty_with_sal.loc[index, 'sal_classified'] = 3
    elif i < 23140395 and i >= 13155269:
           sixteen_to_twenty_with_sal.loc[index, 'sal_classified'] = 4
    else:
        sixteen_to_twenty_with_sal.loc[index, 'sal_classified'] = 5

#Function for the rest of the dataframes will in this format

In [613]:
sixteen_to_twenty_with_sal

,Player,Rk,Season,Pos,Age,Tm,G,GS,MP,FG,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,2019-20,sal_classified
0,Aaron Gordon,178.0,19-20,PF,22.0,ORL,71.2,61.2,30.36,5.26,...,5.22,6.92,2.64,0.82,0.66,1.48,2.06,13.98,19863636,4
1,Al Horford,228.0,19-20,C,31.0,PHI,71.4,70.2,31.04,5.54,...,5.42,7.00,4.22,0.78,1.22,1.50,1.98,13.52,28000000,5
2,Al-Farouq Aminu,9.0,19-20,PF,27.0,ORL,62.2,51.4,27.40,2.90,...,5.36,6.68,1.40,0.96,0.54,1.18,1.82,8.38,9258000,3
3,Alec Burks,80.0,19-20,SG,26.0,TOT,53.4,9.4,21.16,3.48,...,2.98,3.48,1.72,0.62,0.18,1.14,1.60,10.30,2320044,1
4,Alex Len,293.0,19-20,C,24.0,TOT,71.2,27.2,20.30,3.38,...,4.48,6.60,1.00,0.44,0.96,1.32,2.64,8.92,4160000,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,Wayne Ellington,145.0,19-20,SG,30.0,NYK,60.8,19.0,22.40,3.10,...,1.96,2.20,1.16,0.66,0.10,0.62,1.24,8.96,7804878,2
208,Wesley Matthews,320.0,19-20,SG,31.0,MIL,70.0,69.6,31.32,3.96,...,2.56,2.94,2.24,0.94,0.20,1.12,2.10,11.66,2564753,2
209,Will Barton,29.0,19-20,SF,27.0,DEN,64.8,31.2,30.18,5.16,...,4.32,5.20,3.32,0.84,0.52,1.62,1.94,14.08,12960000,3
210,Willie Cauley-Stein,94.0,19-20,C,24.0,TOT,69.8,47.6,23.18,3.98,...,4.46,6.20,1.56,0.92,0.84,0.96,2.34,9.40,2177483,1
211,Zach LaVine,286.0,19-20,SG,22.0,CHI,55.2,45.2,32.36,7.06,...,3.42,3.92,3.56,1.04,0.30,2.46,2.26,19.76,19500000,4

In [614]:
sixteen_to_twenty_with_sal['sal_classified'] = sixteen_to_twenty_with_sal['sal_classified'].astype(int)

In [615]:
sixteen_to_twenty_with_sal['sal_classified'].value_counts()

2    47
5    43
3    43
4    42
1    37
Name: sal_classified, dtype: int64

In [616]:
features = sixteen_to_twenty_with_sal.drop(['Age', 'Rk', 'Tm', 'Pos', 'Season', 'Player', '2019-20'], axis=1)

In [617]:
X = features
y = sixteen_to_twenty_with_sal['sal_classified']

In [618]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.35, random_state = 42)

In [619]:
def fit_models_and_score(model):
    fitting = model.fit(X_train, y_train),
    scores = print(model.score(X_train, y_train)), print(model.score(X_test, y_test))
    
    return scores

In [620]:
logreg.fit(X_train, y_train)

LogisticRegression(max_iter=10000)

In [621]:
logreg.score(X_train, y_train)

0.9635036496350365

In [622]:
logreg.score(X_test, y_test)

0.9466666666666667

In [623]:
preds = logreg.predict(X_test)

In [624]:
print(accuracy_score(y_test, preds))
#Just double checking test score

0.9466666666666667

In [625]:
# fit_models_and_score(logreg)

In [626]:
fit_models_and_score(knnc)

0.5985401459854015
0.48

(None, None)

In [627]:
fit_models_and_score(dt)

1.0
1.0

(None, None)

In [628]:
fit_models_and_score(bc)

1.0
1.0

(None, None)

In [629]:
fit_models_and_score(rf)

1.0
0.8266666666666667

(None, None)

In [630]:
fit_models_and_score(et)

1.0
0.9466666666666667

(None, None)

In [631]:
fit_models_and_score(nb)

0.45255474452554745
0.5066666666666667

(None, None)

In [632]:
# fit_models_and_score(SVC)

Results before feature engineering and gridsearching

# Feature Engineering

In [633]:
features = ['G', 'GS', 'MP', 'FG',
       'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT',
       'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF',
       'PTS']
X = sixteen_to_twenty_with_sal[features]

In [634]:
poly = PolynomialFeatures(include_bias=False)

In [635]:
poly_features = poly.fit_transform(X)

In [636]:
df_poly = pd.DataFrame(poly_features, columns=poly.get_feature_names(features))
df_poly

,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,...,BLK^2,BLK TOV,BLK PF,BLK PTS,TOV^2,TOV PF,TOV PTS,PF^2,PF PTS,PTS^2
0,71.2,61.2,30.36,5.26,11.78,0.4494,1.26,3.84,0.3154,4.04,...,0.4356,0.9768,1.3596,9.2268,2.1904,3.0488,20.6904,4.2436,28.7988,195.4404
1,71.4,70.2,31.04,5.54,11.26,0.4904,1.26,3.40,0.3676,4.28,...,1.4884,1.8300,2.4156,16.4944,2.2500,2.9700,20.2800,3.9204,26.7696,182.7904
2,62.2,51.4,27.40,2.90,7.38,0.3856,1.22,3.64,0.3306,1.68,...,0.2916,0.6372,0.9828,4.5252,1.3924,2.1476,9.8884,3.3124,15.2516,70.2244
3,53.4,9.4,21.16,3.48,8.44,0.4086,1.02,2.74,0.3626,2.44,...,0.0324,0.2052,0.2880,1.8540,1.2996,1.8240,11.7420,2.5600,16.4800,106.0900
4,71.2,27.2,20.30,3.38,6.74,0.5070,0.26,0.80,0.2720,3.10,...,0.9216,1.2672,2.5344,8.5632,1.7424,3.4848,11.7744,6.9696,23.5488,79.5664
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,60.8,19.0,22.40,3.10,7.78,0.3932,2.12,5.68,0.3698,0.98,...,0.0100,0.0620,0.1240,0.8960,0.3844,0.7688,5.5552,1.5376,11.1104,80.2816
208,70.0,69.6,31.32,3.96,10.00,0.3966,2.20,5.98,0.3680,1.78,...,0.0400,0.2240,0.4200,2.3320,1.2544,2.3520,13.0592,4.4100,24.4860,135.9556
209,64.8,31.2,30.18,5.16,11.84,0.4358,1.66,4.54,0.3604,3.54,...,0.2704,0.8424,1.0088,7.3216,2.6244,3.1428,22.8096,3.7636,27.3152,198.2464
210,69.8,47.6,23.18,3.98,7.36,0.5460,0.00,0.04,0.1500,3.98,...,0.7056,0.8064,1.9656,7.8960,0.9216,2.2464,9.0240,5.4756,21.9960,88.3600
211,55.2,45.2,32.36,7.06,15.92,0.4422,2.18,5.76,0.3742,4.90,...,0.0900,0.7380,0.6780,5.9280,6.0516,5.5596,48.6096,5.1076,44.6576,390.4576

In [637]:
twenty_sal = sixteen_to_twenty_with_sal['2019-20']

In [638]:
df_poly['salary'] = twenty_sal

In [639]:
u = df_poly.corr()['salary'].sort_values(ascending=False)

In [640]:
u[0:10].sort_values(ascending=False)
#Idea of some of the features most highly correlated/will work in the model

salary      1.000000
GS PTS      0.804791
MP PTS      0.799904
GS FG       0.798205
MP FG       0.797308
GS FGA      0.794911
MP FGA      0.782256
2P% PTS     0.779474
eFG% PTS    0.779203
PTS         0.777871
Name: salary, dtype: float64

I'll incorporate the new dataframe (and others from past years) to try to raise my accuracy score

# Clustering

In [642]:
ss = StandardScaler()

In [643]:
sixteen_to_twenty_with_sal = sixteen_to_twenty_with_sal.drop(['sal_classified'],axis=1)
#Dropping what we want to be our target

In [644]:
sixteen_to_twenty_with_sal = sixteen_to_twenty_with_sal.drop(['Rk', 'Tm', 'Pos', 'Season', 'Player', '2019-20'], axis=1)
#Dropping unnecessary/non-numeric columns

In [646]:
sixteen_to_twenty_with_sal_sc = ss.fit_transform(sixteen_to_twenty_with_sal)

In [647]:
salary_model = KMeans(n_clusters=5, random_state=0).fit(sixteen_to_twenty_with_sal_sc)

In [649]:
salary_model.labels_

array([4, 4, 4, 0, 1, 0, 3, 1, 2, 3, 0, 1, 4, 4, 0, 1, 2, 1, 0, 4, 2, 4,
       0, 0, 2, 0, 4, 0, 2, 0, 3, 1, 0, 0, 0, 1, 2, 0, 2, 4, 4, 3, 2, 0,
       0, 4, 1, 4, 2, 1, 4, 0, 4, 3, 1, 0, 1, 4, 4, 1, 2, 4, 4, 4, 0, 0,
       0, 4, 4, 3, 4, 4, 1, 4, 3, 1, 0, 4, 4, 0, 4, 0, 1, 1, 4, 4, 1, 0,
       0, 2, 1, 0, 0, 4, 1, 4, 0, 2, 1, 0, 4, 1, 3, 4, 4, 2, 3, 0, 0, 4,
       3, 3, 2, 4, 2, 4, 4, 4, 1, 2, 1, 0, 2, 1, 2, 3, 0, 0, 2, 2, 0, 4,
       0, 4, 4, 0, 4, 4, 1, 0, 1, 0, 0, 1, 2, 0, 0, 1, 4, 0, 1, 4, 3, 3,
       1, 0, 4, 4, 0, 4, 0, 0, 2, 4, 4, 0, 0, 4, 1, 4, 4, 1, 4, 1, 4, 3,
       2, 0, 4, 0, 0, 4, 0, 2, 3, 0, 4, 1, 0, 0, 0, 4, 0, 4, 0, 4, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 2, 0, 0, 4, 4, 1, 2])

In [648]:
centroids = salary_model.cluster_centers_
centroids

array([[ 0.1304003 , -0.4465121 , -0.93902095, -0.84488358, -0.80758332,
        -0.7117293 , -0.6603034 , -0.08640835, -0.09967235,  0.28974646,
        -0.87493774, -0.84725212, -0.57317049, -0.43501129, -0.69599372,
        -0.7568651 ,  0.20115015, -0.66381654, -0.7825128 , -0.78477353,
        -0.43790174, -0.53615374, -0.62428567, -0.73911376, -0.86852052,
        -0.75611308],
       [-0.1320582 , -0.144368  , -0.44412287, -0.77466223, -0.60898564,
        -0.83549789,  1.20519263, -1.14672531, -1.17997558, -1.18352798,
        -0.1682405 , -0.32073975,  1.04501412,  0.71503942, -0.43112402,
        -0.31759708, -0.99966052,  0.80802738,  0.08254908,  0.33075193,
        -0.69359431, -0.62071784,  0.57358647, -0.55278311,  0.27161851,
        -0.6973587 ],
       [-0.03633511,  0.32756614,  1.07138264,  1.33833545,  1.690311  ,
         1.79133326, -0.13186964,  1.32306476,  1.35585691,  0.45910009,
         1.31313447,  1.4306785 , -0.10989056, -0.06198608,  1.78051414,
         1.65953913,  0.79005468, -0.29654256,  0.34043516,  0.14303893,
         1.6048709 ,  1.35601606, -0.22705798,  1.70969039,  0.33448813,
         1.82451074],
       [-0.48311601,  0.61773433,  1.15417208,  0.81148287,  1.12256215,
         0.63215039,  1.60505964, -0.92490413, -0.93833204, -0.89595403,
         1.68977394,  1.40511154,  1.30972878,  1.16429048,  0.88268272,
         1.25122787, -0.92543623,  2.37233824,  2.30853547,  2.45383129,
        -0.10751547,  0.18705068,  2.07650275,  0.78449118,  1.43764862,
         0.88265473],
       [ 0.07129847,  0.27735128,  0.54534828,  0.61217222,  0.2554162 ,
         0.36458863, -0.33255525,  0.44984055,  0.47339878,  0.40932331,
         0.08465193,  0.16638034, -0.2689885 , -0.2102764 ,  0.05560725,
         0.01261125,  0.27146308, -0.22407777,  0.08048727, -0.01669939,
         0.24799709,  0.33924905, -0.08543008,  0.22575024,  0.28404628,
         0.25647375]])

In [651]:
score = silhouette_score(sixteen_to_twenty_with_sal_sc, salary_model.labels_)
score

0.20226473717010185

I plan to do a lot more with clustering -- involving gridsearch, using a new dataframe involving several polynomial features, etc.